/*BODY NOTES*/
@media screen and (min-width: 1px) {
    body#index {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;

        
}
}
@media screen and (min-width: 1280px) {
    body#contact {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 125%;
                margin: 0;
                padding: 0;
        
}
}
@media screen and (min-width: 481px) and (max-width: 1279px) {
    body#contact {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 125%;
                margin: 0;
                padding: 0;
        
}
    
}
@media screen and (max-width: 480px) {
    body#contact {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 175%;
                margin: 0;
                padding: 0;
        
}
}



@media screen and (min-width: 1280px) {
    body#eusolar {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 120%;
                margin: 0;
                padding: 0;
        
}
    .products {
    width: 33%;
    right: 10;
    position: absolute;
    top: 444px
    
}
    .productsA
{
    font-size: 15px;
    margin: 36;

}
}
@media screen and (min-width: 481px) and (max-width: 1279px) {
    body#eusolar {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 240%;
                margin: 0;
                padding: 0;
        
}
.products {
    width: 33%;
    top: 10px;
    display: flex;
  margin-right:270;
    align-self: baseline
}
}


@media screen and (max-width: 480px) {
    body#eusolar {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 200%;
                margin: 0;
                padding: 0;
        
}
    .products {
    width: 33%;
    top: 1px;
     position: fixed;
    
}
    .productsA
{
    font-size: 15px;
    margin: 36;

}
}
}

@media screen and (min-width: 1280px) {
body#howsolarworks {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 1000px;
                margin: 0;
                padding: 0;
        
}
    .theProductA
    {
            bottom: 120px;
            position: absolute;
    }
}
@media screen and (min-width: 481px) and (max-width: 1279px) {
body#howsolarworks {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 300%;
                margin: 0;
                padding: 0;
        
}
}

@media screen and (max-width: 480px) {
body#howsolarworks {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 290%;
                margin: 0;
                padding: 0;
        
}
}

@media screen and (max-width: 480px) {
body#tickets {
            font-family: Arial, sans-serif;
        line-height: 2;
    background-color: #F5F5F5;
    overflow: scroll;
                    width: 100%;
                height: 290%;
                margin: 0;
                padding: 0;
        
}
}


table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 65%;
  text-align: left;
  border-collapse: collapse;
      margin-left: 10px;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}



.flex-header{
    flex-basis: 100%;
}

.flex-cookiebox {
    display: flex;
    flex-wrap: wrap;
    font-size : 10px;
    background-color: rgba(255, 170, 0, 0.5);
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-start;
    align-self: flex-end;
    flex-basis: 50px;

}

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: #e4eaf5;
        height: 140px;
        position:relative;
        top: -130px;
        width: 190px;
        left: -8px;
        
    }
    .navigation-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style-type: none;
        padding-left: 0;
    }

/*HEADERS NOTES*/
.headera {

        text-align: center;
        background-color: #3300CC;
        margin-top: 0;
      }
.headerb {

        text-align: center;
        background-color: #3366CC;
        margin-top: -21px;
      }
.imageheader{
    background-color: aqua;
    position: absolute;
left: 44%;
}
.logo {
        background-color: aqua;
    width: 100%;
    height: 100px;
    color: aqua;
}

/*QUESTIONS NOTES*/
.questions{
    position: relative;
    top: 35;
    font-size: 20px;
    left: 10px;
}

.questionsb {
    font-size: 20px;
    position: relative;
    left: 10px;
}


/*MAIN PRODUCTS NOTES*/

.productbox {
    width: 20%;
    position: fixed;
    right: 0;
    
}

.productsB
{
    font-size: 25px;
    margin-left: 20px;
    
}


.articlesection
{
    margin-left: auto;
    margin-right: auto;
}

.sectionArticles
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
flex-direction: column;
align-items:center;
    float: left;
    left: 10px;
    top: -100px;
}

/*CONTACTFORM NOTES*/

@media screen and (max-width: 480px) {
.contactFieldset {
    width: 93%;
}
    .headera
    {
        width: 50%;
    }
    
    .headerb{
        width: 50%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
.contactFieldset {
    width: 55%;
    position: absolute;
    left: 10px;
}
}
@media screen and (min-width: 1280px) {
.contactFieldset {
    width: 60%;
}
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=message], select {
  width: 100%;
  padding: 45px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #3300CC;
 
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*DATA NOTES*/
.data {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.dataB {
    font-size: 15px;
    margin-top: 10px;
        margin-left: 10px;
    margin-right: 10px;
}

/*NAVIGATION NOTES*/

.topnav a:hover {
  background-color: #fff;
  color: black;
}

.topnav a.active {
  background-color: #3300CC;
 
}

@media screen and (max-width: 480px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 481px) {
  .topnav a.icon {display: none;}
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

.topnav #myLinks {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
margin-top: -20px;
    position: relative;
    text-decoration: none;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
        text-decoration: none;
}


/*TABLE NOTES*/
@media screen and (max-width: 480px) {
	table.tableizer-table {
        position: absolute;
        left: 10;
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
  }
}


@media screen and (min-width: 481px) and (max-width: 1279px) {
	table.tableizer-table {
        position: absolute;
        left: 10;
		font-size: 12px;
        width: 90%;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
        left: 45px;
  }
}

@media screen and (min-width: 1280px) {
	table.tableizer-table {
        position: absolute;
        left: 10;
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
  }
}

	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}


/*HOWDOESOLARWORK ARTICLES AND PRODUCTS NOTES*/
.articleA {
      margin: 5px;
    border: 1px solid;
    width: 32%;
    position: relative;
        top: 3%;
    left: 633px;

}

.articleB {
      margin: 5px;
        margin-left: 12px;
    border: 1px solid;
    width: 32%;
    position: relative;
    top: -136%;
}

.articleC {
      margin: 5px;
            margin-right: 12px;
    border: 1px solid;
    width: 32%;
    position: relative;
    top: -178%;
    right: -1260px;
}
.articleD {
      margin: 5px;
    border: 1px solid;
    width: 32%;
    position: relative;
    top: -176%;
margin-right: 12px;
    right: -1262px;
}
.articleE {
      margin: 5px;
            margin-left: 12px;
    border: 1px solid;
    width: 32%;
    position: relative;
    top: -266%;
    left: 0px;
}
.articleF {
      margin: 5px;
                margin-right: 12px;
    border: 1px solid;
    width: 1241px;
    position: relative;
    top: -235%;
    right: -633px;
}

/*PRODUCT BOX NOTES*/
@media screen and (max-width: 480px) {
  .products {
    left: 10px;
        width: 90%;
      top: 1000px;
    position: absolute;
  }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
  .products {
        width: 30%;
    right: -190;
    position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      top: 426px;
  }
        .dropdown-content {
  display: none;
}
    .dropdown {
  display: none;
}
        .stripes {
display: none;
}
    
      .productsEU {
    left: 10px;
        width: 90%;
    position: fixed;
          bottom: 60px;
          
    }
    
    .productsB{
        display: none;
    }
}

@media screen and (min-width: 1280px) {
  .products {
        width: 30%;
    right: 10;
    position: absolute;
      top: 425px;
  }
    .dropdown-content {
  display: none;
}
    .dropdown {
  display: none;
}
        .stripes {
display: none;
}

}


@media screen and (max-width: 480px) {
  .productsEU {
    left: 10px;
        width: 90%;
    position: absolute;
          bottom: -850px;
    }
    .topnav{
        display: none;
    }
    
    .stripes {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
        position: 
}
      
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
        width: 50%;
    height: 160px;
  border: none;
    text-align: center;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
    width: 100%;
    
    top: 140px;
    right: -197px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
    width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3301cc}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #333;
}
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
  .productsEU {
        width: 87%;
    left: 43px;
    position: relative;
    bottom: -60px;
  }
    .imageb{
        display: none;
    }
}

@media screen and (min-width: 1280px) {
  .productsEU {
        width: 30%;
      top: -481px;
    left: 1250px;
    position: relative;
  }
}

/*FOOTER NOTES*/
@media screen and (max-width: 480px) {
.footername {
  position: fixed;
  left: 0px;
bottom: 0px;
 right: 287px;
  background-color: red;
    height: 60px;
  text-align: left;
    padding-left: 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
.footername {
  position: fixed;
  left: 0px;
bottom: 0px;
 right: 287px;
    height: 60px;
  background-color: red;
  text-align: left;
    padding-left: 50px;
}
}

@media screen and (min-width: 1280px) {
.footername {
  position: fixed;
  left: 0px;
bottom: 0px;
 right: 287px;
    height: 60px;
  background-color: red;
  text-align: left;
    padding-left: 50px;
    width: 82%
}
}

/*COOKIE NOTES*/
@media screen and (max-width: 480px) {
.cookiebox {
    float: right;
    font-size : 10px;
    background-color: rgba(255, 170, 0, 0.5);
    position: fixed;
  bottom: 0px;
    right: 0px;
        height: 60px;
}
}


@media screen and (min-width: 481px) and (max-width: 1279px) {
.cookiebox {
    float: right;
    font-size : 10px;
    background-color: rgba(255, 170, 0, 0.5);
    position: fixed;
  bottom: 0px;
    right: 0px;
        height: 60px;
}
}

@media screen and (min-width: 1280px) {
.cookiebox {
    float: right;
    font-size : 10px;
    background-color: rgba(255, 170, 0, 0.5);
    position: fixed;
  bottom: 0px;
    right: 0px;
    height: 60px;
}
}

@media screen and (min-width: 1280px) {
    .parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
    
}
.article1 { grid-area: 1 / 2 / 3 / 3;     border: 1px solid black; margin: 5px;}
.article2 { grid-area: 1 / 1 / 2 / 2;     border: 1px solid black; margin: 5px;}
.article3 { grid-area: 1 / 3 / 2 / 4;     border: 1px solid black; margin: 5px;}
.article4 { grid-area: 2 / 3 / 2 / 4;     border: 1px solid black; margin: 5px;}
.article5 { grid-area: 2 / 1 / 4 / 2;     border: 1px solid black; margin: 5px;}
.article6 { grid-area: 3 / 2 / 4 / 4;     border: 1px solid black; margin: 5px;}
}

@media screen and (min-width: 481px) and (max-width: 1279px) {
    
.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}

.article1 { grid-area: 1 / 1 / 2 / 2; border: 1px solid black; margin: 5px;}
.article2 { grid-area: 1 / 2 / 3 / 3; border: 1px solid black; margin: 5px;}
.article3 { grid-area: 2 / 1 / 4 / 2; border: 1px solid black; margin: 5px;}
    .article4  {display: none;}
.article5 { grid-area: 3 / 2 / 4 / 3; border: 1px solid black; margin: 5px;}
.article6 { grid-area: 4 / 1 / 5 / 3; border: 1px solid black; margin: 5px; height: 100x;}
}

@media screen and (max-width: 480px) {
.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}

.article5 { grid-area: 1 / 1 / 2 / 2; border: 1px solid black; margin: 5px;}
.article3 { grid-area: 2 / 1 / 3 / 2; border: 1px solid black; margin: 5px;}
.article2 { grid-area: 3 / 1 / 4 / 2; border: 1px solid black; margin: 5px;}
.article1 { grid-area: 4 / 1 / 5 / 2; border: 1px solid black; margin: 5px;}
    }

@media screen and (max-width: 480px) {
.theproductA {
    position: relative;
    bottom: -130px;
    width: 99.9%;
    left: -45px;;
    margin: 10px;
}
    .theproductB {
    position: relative;
    bottom: -140px;
    width: 99.9%;
    left: -41px;;
    margin: 5px;
}
    .theproductC {
    position: relative;
    bottom: -150px;
    left: -41px;;
    width: 99.9%;
    margin: 5px;
}
        .article6{
        display: none;
    }
    
        .article4{
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 1279px) {
.theproductA {
    position: relative;
    bottom: -140px;
    width: 40%;
    left: 0px;
    margin: 10px;
    height: 288px;
}
    .theproductB {
    position: relative;
    bottom: 178px;
    width: 40%;
    right: -630px;;
    margin: 5px;
    height: 288px;
}
    .theproductC {
        display: none;
}
    
        .article4{
        display: none;
    }
}
@media screen and (min-width: 1280px) {
.theproductA {
    position: relative;
    top: 10px;
    width: 30%;
    left: -45px;
    margin: 10px;
}
    .theproductB {
    position: relative;
    bottom: 164px;
    width: 30%;
    left: 614px;;
    margin: 5px;
}
    .theproductC {
    position: relative;
    top: -324px;
    left: 1266px;
    width: 30%;
    margin: 5px;
}
}










































.topnavflex{
 display: flex;
    justify-content: flex-start;
      overflow: hidden;
  background-color: #333;
margin-top: -20px;
    position: relative;
      text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnavflex a:hover {
  background-color: #fff;
  color: black;
}

.topnavflex a.active {
  background-color: #3300CC;
 
}

.topnavflex a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
        text-decoration: none;
}

.articleindexb{
        top: 5px;
        border: 1px solid;
    width: 30%;
    position: relative;
left: 1300px;
    height: auto;
}

.articleAf {
      margin: 5px;
    border: 1px solid;
    width: 97%%;
    position: relative;
        top: 100px;
    left: 6px;

}

.articleBf {
      margin: 5px;
        margin-left: 12px;
    border: 1px solid;
    width: 97%;
    position: relative;
        top: 100px;
    left: -20px;
}

.articleCf {
      margin: 5px;
            margin-right: 12px;
    border: 1px solid;
    width: 95%%;
    position: relative;
        top: 100px;

        left: 6px;
}


}
}



.flexbox-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.flexbox-logo{
    background-color: #00ffff;
    height: 100px;
    width: 100%;
}

.imageheader{
      display: block;
  margin-left: auto;
  margin-right: auto;
}

.flexbox-best{
    background-color: #3300CC;
    width: 100%;
      justify-content: center;
        align-items: center;
}

.flexbox-travel{
    width: 100%;
    background-color: #3366CC;
    height: -5px;
    align-items: center;

}


.flexbox-footer{
    display: flex;    
    margin-bottom: 0px;
}

.flexbox-footername{
    background-color: red;
    width 80%;
    height: 60px;
    flex-grow: 1;
}

.flexbox-cookies{
background-color: rgba(255, 170, 0, 0.5);
    height: 60px;
        float: right;
    font-size: 10px;
    background-color: rgba(255, 170, 0, 0.5);
    opacity: 50%;

}







 /*ALL SPECIFIC SETTINGS FOR MOBILE VERSION */
@media screen and (max-width: 479px) {
    .video{
        display: none;
    }
    .flexbox-item{
        display: none;
    }
    .flexbox-videos{
        display: none;
    }
    .flexbox-items{
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    }
    .videos{
        display: none;
    }
}

 /*ALL SPECIFIC SETTINGS FOR TABLET VERSION */
@media screen and (min-width: 480px) and (max-width: 1179px){
    .video{
        display: none;
    }
    .flexbox-item{
        display: none;
    }
.flexbox-items{
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    }
    .flexbox-videos{
    display: flex;
    justify-content:center;
    padding-top: 20px;
}  

}




 /*ALL SPECIFIC SETTINGS FOR PC VERSION */
@media screen and (min-width: 1179px) {
    .image{
    float: right;
}
    .flexbox-test{
    display: flex;
    
    }


.flexbox-item{
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    }

.flexbox-item-1{
    height: 626px;
    width: 70%
    }
.flexbox-item-2{
    height: 626px;
    width: 30%;
}



.flexbox-video{
    display: flex;
    justify-content:center;
    padding-top: 20px;
}  

    .flexbox-videos{
        display: none;
    }
    
    .flexbox-items{
        display: none
    }
    .videos{
        display: none;
    }
}































































































































